
# Gradle
.gradle/
**/build/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Artifacts
*.apk
*.aab
output-metadata.json

# Logs and profiling
*.log
*.hprof

# Keystores
*.jks
*.keystore

# Google services
google-services.json

# macOS
.DS_Store
